@import '../../../variables';

.card-container {
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $square-shadow;

    .header {
        padding: 2rem;
        height: 5%;
    }

    .content {
        overflow: auto;
    }
}