@import '../../../variables';

button {
    position: fixed;
    width: 5rem;
    height: 5rem;
    left: 88vw;
    top: 75vh;
    z-index: 50;
    margin: 3rem;
    border-radius: 50%;
    border: 1px solid rgb(31, 61, 143);
    background-color: rgb(31, 61, 143);
    box-shadow: $square-shadow;
    img {
        width: 80%;
        height: 80%;
    }
}
button:hover {
    cursor: pointer;
}